* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
@font-face {
  font-family: "roboto-bold";
  src: url("./assets/font/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("./assets/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("./assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-thin";
  src: url("./assets/font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "handlee-regular";
  src: url("./assets/font/Handlee/Handlee-Regular.ttf");
}
@font-face {
  font-family: "Inter-VariableFont_slnt";
  src: url("./assets/font/Inter/Inter-VariableFont_slnt,wght.ttf");
}
